.row
  .col-xs-4
  .col-xs-4
    h3 Sessions
  .col-xs-4

.row
  .col-xs-8
  .col-xs-4
    button.btn.btn-primary(ng-click='toggleNew()') New Session
    &nbsp
    button.btn.btn-primary(ng-click='toggleFind()') Find Session
    &nbsp
    button.btn.btn-primary(ng-click='toggleMySessions()') My Sessions

.row(ng-show='newSession')
  .col-xs-3
    form(role='form', novalidate, name='newForm')
      .form-group
        h4 Create New Session
      .form-group
        label(for='name') Session Name
        input.form-control#name(type='text', name='name', ng-model='session.name', autofocus)
      .form-group
        label(for='location') Location
        input.form-control#location(type='text', name='location', ng-model='session.loc.city')
      .form-group
        label(for='instrument') Session Style
        input.form-control#style(type='text', name='style', ng-model='session.style')
      .form-group
        label(for='date') Date
        input.form-control#date(type='text', name='date', ng-model='session.date')
      .form-group
        label(for='musicStyle') Time
        input.form-control#time(type='text', name='time', ng-model='session.time')
      button.btn.btn-primary(ng-show='newForm.$valid', ng-click='addNew()') Create
  .col-xs-9

.row(ng-show='findSession')
  .col-xs-12
    h4 Find Sessions
    table#sessions.table.table-bordered.table-striped
      thead
        tr
          th Name
          th Location
          th Style
          th Date
          th Time
      tbody
        tr
          td name
          td location
          td style
          td date
          td time

.row(ng-show='mySessions')
  .col-xs-12
    h4 My Sessions
